body 
{
    
    background-color: #4a1f24;
    margin: 0;
    padding: 0;
}

nav 
{
    background-color: #4a1f24;
    position: sticky;
    width: 100%;
    height: 100%;
}

img
{
    height: 100%;
    margin-left: 20px;
    padding-top: 10px;
    float: left;
}

.nav-links
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
}

li
{
    display: inline-block;
    margin-right: 40px;
    padding-top: 55px;
    font-size: larger;
    font-weight: bold;
}

a
{
    text-decoration: none;
    color: #e7d9b1;
}