body 
{
    
    background-color: #4a1f24;
    margin: 0;
    padding: 0;
}

nav 
{
    background-color: #e7d9b1;
    position: sticky;
    top: 0;
    width: 100%;
    height: 100%;
}

.nav-links
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li
{
    display: inline-block;
    margin-right: 20px;
}